.app {
  border: 1px solid lightgrey;
  box-shadow: 5px 2px 2px lightgrey;
  text-align: center;
  margin: 0 20%;
  padding: 0;
}

.list-body {
  margin: 20px 20% 0 20%;
  padding: 0;
  padding-bottom: 20px;
  list-style: none;
  text-align: left;
}

.list-item {
  margin: 0;
  border: 1px solid lightgrey;
  padding: 5%;
}
.watch-toggle {
  float: right;
}

#watched-btns-container {
  float: left;
  margin-left: 20%;
}
input {
  margin: 0 3px 10px 0;
}

